#tienda h3, h4 {
	text-align: center;
}

#tienda .contenedor{
	position: relative;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#tienda article {
	margin: 15px;
}

#tienda img{
	width: 200px;
	max-width: 280px;
}

@media (min-width: 720px) {
	#tienda img{
		width: 300px;
		max-width: 400px;
	}
}