@import "public/fonstgoogle.css";
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }

}


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

@media (min-width:1304px) {
    .contenedor {
        width: 1300px;
    }
} 

@media (min-width:1500px) {
    .contenedor {
        width: 1500px;
    }
}
#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 450px;
}

#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner-chi img {
    width: 100%; 
    height: 300px;
    overflow: hidden;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    } 
}

@media (min-width:768px) { 
    #banner {
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: 0px;
    }
}

@media (min-width:1024px) { 
    #banner {
        overflow: hidden;
    }
    #banner img {
        height: auto;
        margin-top: 0px;
    }
}

#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-tema {
    margin: 20px;
}

.info-horario {
    margin: 20px;
}

.info-tema img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

@media (min-width:480px) {
    .info-tema {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-tema {
        width: auto;
    }
}

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}


#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input, textarea, select{
  border-style: solid;
  border-width: 1px;
  border-color: #7F9DB9;
  padding: 3px;
  font-size: 12px;
  font-family: Arial, Verdana;
}


#cuestionario h2{
  font-size: 16px;
  margin-left: 2px;
  padding-bottom: 8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #005279;
  
  margin-bottom: 15px;
}

#cuestionario .campo {
  background-color: #F3F3F3 !important;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: #006699;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E8E8E8;
  font-size: 14px;
  
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-left: 3px;
  font-weight: bold;
  
  width: 97%;
}

#cuestionario span.espacio{
  display: block;
  padding: 5px;
}

.importante{
  padding-left: 2px;
}